.header_container {
    width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
}

.header_left_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.32rem;
}

.header_right_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.32rem;
}

.header_title {
    font-size: 0.85rem;
    color: #334155;
}

.header_subtitle {
    font-size: 0.85rem;
    color: #94a3b8;
}

.user_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_img {
    width: 1.5em;
    height: 1.5rem;
    border-radius: 1.5rem;
}

.active_container {
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 0.32rem;
    background-color: #eab308;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon {
    width: 1rem;
    height: 1rem;
}